@page "/account/register"
@layout PublicLayout

<PageTitle>Condom - Cadastro</PageTitle>


<div class="card vw-100 vh-100 index-area-card bg-secondary">
    <div class="card-img-top index-area-card-img" />
    <div class="card-body mx-auto pt-5 mt-4 text-center w-100" style="max-width: 600px;">
        <h1 class="card-title fw-bold text-white pb-5">Cadastro</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-name-area"><i class="fas fa-user"></i></span>
                    <input id="register-name" class="form-control" type="text" placeholder="Nome completo" aria-describedby="register-name-area" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-cpf"><i class="fas fa-address-card"></i></span>
                    <input id="register-cpf" class="form-control" type="text" placeholder="CPF" aria-describedby="register-cpf"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-email-area"><i class="fas fa-envelope"></i></span>
                    <input id="register-email" class="form-control" type="email" placeholder="Digite seu e-mail" aria-describedby="register-email-area" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-password"><i class="fas fa-key"></i></span>
                    <input id="register-password" class="form-control" type="password" placeholder="Senha" aria-describedby="register-password"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-password-confirm"><i class="fas fa-check"></i></span>
                    <input id="register-password-confirm" class="form-control" type="password" placeholder="Confirme sua senha" aria-describedby="register-password-confirm" />
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <a class="btn btn-rounded btn-md btn-secondary btn-white-bd fw-bold" href="/account/login">Retornar</a>
            </div>

            <div class="col">
                <a class="btn btn-md btn-white btn-rounded fw-bold" @onclick="async () => await OnRegister()">Criar conta</a>
            </div>
        </div>
    </div>
</div>
@inject NavigationManager _Navigator
@code {
    protected async Task OnRegister()
    {
        _Navigator.NavigateTo("/account/login");
    }
}